* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: hsl(210, 46%, 95%);
}

main {
  width: 100%;
}
@media screen and (max-width: 500px) {
  main {
    height: 100%;
  }
}

.container {
  max-width: min(100%, 1400px);
  margin-inline: auto;
  width: 80%;
}
@media screen and (max-width: 1300px) {
  .container {
    width: 86%;
  }
}
@media screen and (max-width: 1200px) {
  .container {
    width: 92%;
  }
}
@media screen and (max-width: 1100px) {
  .container {
    width: 100%;
  }
}
@media screen and (max-width: 1000px) {
  .container {
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .container {
    width: 95%;
  }
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  margin-block-end: 0;
  margin-block-start: 0;
  margin-inline-start: 0;
}

@font-face {
  font-family: "semibold";
  src: url("../Barlow_Semi_Condensed/BarlowSemiCondensed-SemiBold.woff2") format("woff2"), url("../Barlow_Semi_Condensed/BarlowSemiCondensed-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "medium";
  src: url("../Barlow_Semi_Condensed/BarlowSemiCondensed-Medium.woff2") format("woff2"), url("../Barlow_Semi_Condensed/BarlowSemiCondensed-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
.cards {
  display: grid;
  grid-template-columns: 1fr 250px;
  margin-top: 10.2em;
}
@media screen and (max-width: 500px) {
  .cards {
    grid-template-columns: 1fr;
    margin-top: 4.5em;
    gap: 1.5em;
    margin-inline: auto;
  }
}
.cards .left {
  display: grid;
  gap: 1.3em;
  width: 600px;
}
@media screen and (max-width: 500px) {
  .cards .left {
    width: 100%;
  }
}
.cards .left .top {
  display: grid;
  grid-template-columns: 1.1fr 0.5fr;
  gap: 2.5em;
  height: fit-content;
}
@media screen and (max-width: 500px) {
  .cards .left .top {
    grid-template-columns: 1fr;
    width: 100%;
    gap: 1.5em;
    margin-inline: auto;
  }
}
.cards .left .top .card .text p {
  margin-top: 0.2em;
}
.cards .left .bottom {
  display: grid;
  grid-template-columns: 0.5fr 1.1fr;
  gap: 3em;
  height: fit-content;
}
@media screen and (max-width: 500px) {
  .cards .left .bottom {
    grid-template-columns: 1fr;
    width: 100%;
    gap: 1.5em;
  }
}
.cards .left .bottom .card .text h1 {
  padding-top: 0.2em;
}
.cards .right {
  display: grid;
  grid-template-rows: 1fr;
}
.cards .card {
  display: flex;
  flex-direction: column;
  gap: 1em;
  border-radius: 10px;
  position: relative;
}
@media screen and (max-width: 500px) {
  .cards .card {
    width: 91%;
    margin-inline: auto;
    padding-bottom: 1.9em;
  }
}
.cards .card .imaged {
  position: absolute;
  top: 0;
  right: 80px;
  width: 100px;
  object-fit: contain;
}
@media screen and (max-width: 500px) {
  .cards .card .imaged {
    right: 20px;
    width: 105px;
  }
}
.cards .card .profile {
  display: flex;
  flex-direction: row;
  gap: 1em;
  align-items: center;
  margin-top: -13px;
}
.cards .card .profile .img {
  width: 29px;
  height: 29px;
}
.cards .card .profile .img img {
  width: 100%;
  object-fit: contain;
  border-radius: 50%;
}
.cards .card .profile .profile__info .name {
  color: hsl(210, 46%, 95%);
  font-family: "medium";
  font-size: 0.8em;
  font-weight: 500;
}
.cards .card .profile .profile__info .fade {
  font-family: "medium";
  color: rgba(207, 207, 207, 0.5);
  font-size: 0.7em;
  font-weight: 400;
}
.cards .card .text {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 100%;
  position: relative;
  z-index: 2;
}
.cards .card .text h1 {
  font-family: "semibold";
  font-size: 1.2em;
  color: hsl(0, 0%, 100%);
  width: 100%;
  letter-spacing: 0.2px;
}
.cards .card .text p {
  font-family: "medium";
  font-size: 0.8em;
}

.daniel {
  background: hsl(263, 55%, 52%);
  padding: 2.3em 2em 0em;
  width: 540px;
}
@media screen and (max-width: 500px) {
  .daniel {
    width: 100%;
    padding: 2.3em 1em 0em 2em;
  }
}
.daniel .text h1 {
  padding-top: 0.2em;
  width: fit-content;
  word-spacing: 1px;
}
@media screen and (max-width: 500px) {
  .daniel .text h1 {
    padding-right: 0.7em;
    padding-top: 0.33em;
    word-spacing: 1px;
    text-align: left;
  }
}
.daniel .text p {
  margin-top: -0.1em;
  word-spacing: 0.5px;
  color: rgba(207, 207, 207, 0.5);
}
@media screen and (max-width: 500px) {
  .daniel .text p {
    padding: 0em 2em 0em 0em;
  }
}
.daniel .profile .img {
  border: 2px solid hsl(263, 100%, 73.65%);
  border-radius: 50%;
}

.jonathan {
  background: hsl(217, 19%, 35%);
  padding: 2.4em 2.1em 2em;
  width: 256px;
  margin-left: -0.8em;
}
@media screen and (max-width: 500px) {
  .jonathan {
    margin-left: 0;
  }
}
.jonathan .text h1 {
  padding-top: 0.2em;
  word-spacing: 0.9px;
}
@media screen and (max-width: 500px) {
  .jonathan .text h1 {
    word-spacing: 0.3px;
  }
}
.jonathan .text p {
  word-spacing: 0.5px;
  margin-top: -0.24em;
  color: #cfcfcf;
}
@media screen and (max-width: 500px) {
  .jonathan .text p {
    width: 105%;
    margin-left: -0.4em;
  }
}

.patrick {
  background: hsl(217, 30%, 14%);
  margin-left: -1.15em;
  padding: 2.4em 2em 1.6em;
  width: 540px;
  height: fit-content;
}
@media screen and (max-width: 500px) {
  .patrick {
    width: 100%;
    margin-left: 0;
    padding: 2.4em 2em 3em;
  }
}
.patrick .profile .img {
  border: 2px solid hsl(263, 55%, 52%);
  border-radius: 50%;
}
.patrick .text h1 {
  word-spacing: 1px;
  line-height: 1.3;
  padding-bottom: 0.3em;
}
@media screen and (max-width: 500px) {
  .patrick .text h1 {
    line-height: 1.2;
    padding-bottom: 0.06em;
  }
}
.patrick .text p {
  width: 97%;
  word-spacing: 0.5px;
  color: #cfcfcf;
}

.jeanette {
  width: 256px;
  padding: 2.3em 2em 0em;
  background: #000;
}
.jeanette h1 {
  width: 90%;
  margin-top: -0.05em;
  line-height: 1.2;
  letter-spacing: 0px;
  padding-bottom: 0.37em;
}
@media screen and (max-width: 500px) {
  .jeanette h1 {
    padding-bottom: 0.1em;
  }
}

.kira {
  padding: 2.5em 1.8em 1.5em;
}

.jeanette,
.cards .card .text p, .kira .text p {
  line-height: 1.41;
}

.kira {
  background: hsl(0, 0%, 100%);
  height: fit-content;
}
.kira .text {
  width: 100%;
}
.kira .text h1 {
  padding-bottom: 0.3em;
  line-height: 1.3;
}
@media screen and (max-width: 500px) {
  .kira .text h1 {
    line-height: 1.4;
    padding-bottom: 0em;
  }
}
.kira .text p {
  width: 100%;
  line-height: 0;
  font-size: 0.5em;
}

.cards .jeanette,
.cards .kira {
  background: hsl(0, 0%, 100%);
}
.cards .jeanette .profile .profile__info .name,
.cards .kira .profile .profile__info .name {
  color: hsl(217, 30%, 14%);
}
.cards .jeanette .text h1,
.cards .kira .text h1 {
  color: hsl(217, 19%, 35%);
}
.cards .jeanette .text p,
.cards .kira .text p {
  color: rgba(72, 85, 106, 0.7);
}

.attribution {
  margin-top: 3em;
}/*# sourceMappingURL=main.css.map */