//  ### Primary 


$Moderateviolet: hsl(263, 55%, 52%) ; //for daniel
$Verydarkgrayishblue: hsl(217, 19%, 35%) ; //jonathan
$Verydarkblackishblue: hsl(217, 30%, 14%) ; //adrams
$White: hsl(0, 0%, 100%) ; //for kira and jeanette


// ### Neutral 


$Lightgray: hsl(0, 0%, 81%) ;
$Lightgrayishblue: hsl(210, 46%, 95%);