// lets give our body color and some universal config
@use "./colors" as *;
@use "./mixin" as *;
// to be able to use any color
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background: $Lightgrayishblue;

}
// set up our container but first lets continue first
main{
    // height: ;
    width: 100%;
    @include responsive(500px){
        height: 100%;
    }
}
// .container we include it here
.container{
    max-width: min(100%, 1400px);
   margin-inline: auto;
   width:70%;
    // to center our container
@include responsive(1300px){
    width: 86%;
}

    @include responsive(500px) {
            width: 95%;
        }
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    margin-block-end: 0;
    margin-block-start: 0;
    margin-inline-start: 0;
}
// now lets start styling our website.
